@{
  Layout = "_Layout";
}
    <div class="jumbotron">
      <h1><strong>Add</strong><em>Book</em><h3>The Free Contact Organizer</h3></h1>
    </div>
    <h1>Contacts:</h1>

    <a href="/contacts/new">Add a new Contact:</a>

  </body>
</html>
