<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>New Contact</title>
  </head>
  <body>
    <h1>Enter Contact details:</h1>
    <form action='/contacts' method="post">
      <div class='form-group'>
        <label for='contactName'>Enter name:</label>
        <input id='contactName' name='contactName' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='contactNumber'>Enter phone number:</label>
        <input id='contactNumber' name='contactNumber' class='form-control' placeholder="Do not include ' - ' "  type='text'>
      </div>
      <h1>Enter Contact's Address:</h1>
      <div class='form-group'>
        <label for='addressStreet'>Street:</label>
        <input id='addressStreet' name='addressStreet' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='addressCity'>City:</label>
        <input id='addressCity' name='addressCity' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='addressState'>State:</label>
        <input id='addressState' name='addressState' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='addressZipCode'>Zip Code:</label>
        <input id='addressZipCode' name='addressZipCode' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn btn-success'>Go!</button>
    </form>

  </body>
</html>
